body{
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    background:linear-gradient( 10deg, rgb(7, 7, 7)1%, rgb(85, 84, 84)99%);
}
ul{
    display: flex;
    list-style: none;
    color: blanchedalmond;
    width: 100%;
    justify-content: center;
}
li{
    background-color: rgb(163, 23, 23);
    padding: 3px;
    width: 75px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
}
#last{
    margin-right: 0px;
}
a{
    text-decoration: none;
    color:cornsilk;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    height: 70px;
    background-color: rgb(32, 31, 31);
    justify-content: center;
    align-items: center;
}
#menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform:translate(-50%);
    display: flex;
}
img{
    height: 400px;
    width: 600px;
}
.bar{
    width: 70px;
    height: 17px;
    border: 3px solid rgb(163, 23, 23);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}
.bar:hover{
    background-color: rgb(82, 79, 79);
}
input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition:all .6s;
}
#radio1:checked ~ .s1{
   margin-left: 0;
   transition: all 1s;
}
#radio2:checked ~ .s1{
    margin-left: -20%;
    transition: all 1s;
}
#radio3:checked ~ .s1{
    margin-left: -40%;
    transition: all 1s;
}
#radio4:checked ~ .s1{
    margin-left: -60%;
    transition: all 1s;
}
